html {
    background: #F5F5F5;
    font-family: sans-serif;
   
}

body {
    margin: 0;
 }

.separat{
    background: url(../images/separating_line.gif) bottom repeat-x;

}
.wrapper {
    width: 900px;
    margin: 0 auto;
    background: #ffffff;

}

.phone {
    padding: 15px;
    background-color: #363636;
    padding-top: 20px;
     padding-bottom: 20px;
}

.number_phone {
    float: left;
    text-decoration: none;
    color: #FFFFFF;
    
}
.number_phone ul {
    list-style-type: none;
    padding:0;
    margin: 0;
    
}
.number_phone li {
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    margin-bottom: 10px;
}

 .number_phone li:first-child{
    color:  #8B8682;
    font-size: 12px;
    vertical-align: bottom;
    padding-right: 0px;
 }

.phone_call{
    float: right;
    padding-bottom: 5px;
}

.phone_call a{
    color: #838B8B;
    text-decoration: none;
}




.application {
    padding: 60px 120px 40px 20px;
}

.logo {
    float: left;
   
}
.application_nav a{
    float: right;
    color:  #FF0000;
    text-decoration: none;
}
hr {
    color: #00C3C9;
}

.section_box{
    margin: 0;
    position: relative;
    display: inline-block;
    vertical-align: bottom; 
    padding:0;
    margin:0;
    line-height:0;
    width: 297px;
}

.images img{
     max-width: 100%;
}

.banner img {
    position: absolute;
    width: 60%;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
    color: #FFFFFF;
}

.banner_h1 a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    position: absolute;
    padding-left: 50px;
    padding-top: 10px;
  

}
.banner_h a{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 50px;
    padding-top: 10px;
    text-decoration: none;
    color: #00C3C9;
    position: absolute;

   
}

.section_box_line{
    border-bottom: 10px solid #00C3C9; 
}

.clear {
    clear: both;
}
   
.page_section{
    padding: 20px;

}

.left_col {
    float: left;
    width: 65%;
}

.right_col {
    float: right;
    width: 30%;
}
.left_col h3{
    color:  #FF0000;
}
h5 {
color: #473C8B;
}

.left_col p{

    color:   #838B8B;
    font-size: 13px;
    font-weight: 10%;

}

.left_col a{
    color:  #FF0000;
    font-size: 15px;
    float: right;
    text-decoration: underline;
 }

.right_col a{
    color: #00C3C9;
    font-size: 15px;
    float: right;
    padding-right: 10px;
 }


.colorall{
    color:  #00C3C9;
}
.colorname{
    color:  #838B8B;
}

.colorfont{
    color:  #473C8B;
    font-size: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
   }



.right_col h3{
    color: #00C3C9;
    padding-left: 50px;
}

li {
    list-style-type: none; 
}

 li a{
    text-decoration: none;
    padding-bottom: 10px;
}


.clear {
    clear: both;
}

.footer{ 
    padding: 20px;
    background: url(../images/separating_line.gif) repeat-x;
    /*border-top: 10px solid #CDC9C9;*/
    background-color:   #363636;
    height: 70px;
}
.footer_box{
     color: #FFFFFF;

}
.footer_text_right{
    float: right;
    width: 20%;
    margin-right: 0px;
}

.footer_box_left{
    float: left;
    width: 65%;
    color:  #838B8B;
    font-size: 13px;
    font-weight: 10%;
}


 .colortext {
    color:   #838B8B;
    font-size: 13px;
    vertical-align: bottom;
    padding-right: 0px;
    font-weight: 10%;
 }
